<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="/normalize.css">
    <link rel="stylesheet"  type="text/css" href="/skeleton.css">
    <link rel="stylesheet"  type="text/css" href="/app.css">
  </head>
  <body>
    <nav>
      
    </nav>
    
      <h1>You have logged in</h1>
      
      <nav>
      
    </nav>

      
  </body>
</html>
