<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="/normalize.css">
    <link rel="stylesheet"  type="text/css" href="/skeleton.css">
    <link rel="stylesheet"  type="text/css" href="/app.css">
  </head>
  <body>
    
    
      <h1>You have logged in</h1>

      <nav>
        <a id="create" href="/gear/new">Sell a New Item</a>
        <a id="index" href="/gear">Back to Store</a>
        <a id="addCart" href="/cart">Cart</a>
       
    </nav>

    <h2>You have <%= currentUser.gold%> gold left to spend</h2>

      
  </body>
</html>
